:root {
  --red: #7e0016;
  --pink: #fa3165;
  --light-blue: #487686;
  --medium-blue: #13334c;
  --dark-blue: #091930;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 0.7s ease-in-out;
  background: var(--dark-blue);
  height: 100vh;
}

.sidebar-open {
  width: 30vw;
}

.sidebar-close {
  width: 0vw;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: var(--dark-blue);
  height: 10vh;
  transition: 0.7s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.header-changed {
  left: 30vw;
  width: 70vw !important;
}

.header-unchanged {
  left: 0;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.7s ease-in-out;
  background: var(--dark-blue);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--red);
  font-size: 1rem;
  transition: 0.7s ease-in-out;
}

a:hover {
  color: var(--pink);
  background-color: var(--medium-blue);
  transition: 0.7s ease-in-out;
}

#toggler {
  background-color: var(--dark-blue);
  color: var(--red);
  font-size: 1rem;
  transition: 0.7s ease-in-out;
  border: none;
}

#toggler:hover {
  background-color: var(--medium-blue);
  color: var(--pink);
  transition: 0.7s ease-in-out;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  align-items: center;
  background: var(--light-blue);
  transition: 0.7s ease-in-out;
  top: 10vh;
  width: 100vw;
  height: 100vh;
  right: 0;
  z-index: 1;
}

.content-unchanged {
  left: 0;
  background: var(--light-blue);
  transition: 0.7s ease-in-out;
}

.content-changed {
  left: 30vw;
  width: 70vw !important;
  background: var(--light-blue);
  transition: 0.7s ease-in-out;
}
 